# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc

# Virtual Environments
t1-env/
t2-env/
t3-env/
t4_env/
manufacturing-env/
banking-env/
venv/
env/
ENV/
*.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo

data/
